.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: #f5eeee;
  /* background-color: rgba(255, 255, 255, 0.75); */
  /* background: linear-gradient(to right, #a8ff78, #78ffd6); */
  /* background: #eacda3; */
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #eacda3, #d6ae7b); */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #eacda3, #d6ae7b); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.timer {
  width: 100vw;
  height: 8vh;
  line-height: 8vh;
  text-align: center;
  font-size: 6vh;
  align-self: center;
}

.timer2 {
  width: 100vw;
  height: 8vh;
  line-height: 8vh;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 6vh;
  align-self: flex-start;
  background-color: #cec9c7;
  /* background-color: rgba(255, 255, 255, 0.75); */
}

/* .wrapper {
  background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100');
  background-size: cover;
} */

.numb {
  border-radius: 5px;
  border: none;
  height: 8vh;
  width: 3vw;
  line-height: 8vh;
  margin-right: 1vh;
  outline: none;
  text-align: center;
  font-size: 6vh;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  background: none;
}

::placeholder {
  color: black;
  opacity: 1;
  font-size: 6vh;
  font-weight: 200;
}

.numb:focus::placeholder {
  color: transparent;
}


.itemList {
  border-radius: 18px;
  width: 35vw;
  height: 70vh;
  margin: auto;
  margin-top: 50px;
  justify-self: center;
  align-self: center;
  position: relative;

  /* backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3); */
}

li {
  list-style-type: none;
  border-bottom: 1px solid #ccc;
  font-size: 4vh;
  margin-top: 20px;
  padding-bottom: 8px;
}

/* CSS */
.buttonToDo {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 5vh;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  top: -1.1vh;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
  margin-left: 2vh;
}

.buttonToDo:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.buttonToDo:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.buttonToDo:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.buttonToDo:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.buttonToDo:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.buttonToDo:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.buttonToDo:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.buttonToDo:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}